.about {
   background: url(../img/about/background.jpg) center top no-repeat;
   background-size: cover;
   color: $grey;
   padding: 114px 0px 68px 0px;
   // .about__container

   &__container {
   }

   // .about__items

   &__items {
      display: flex;
      flex-flow: row;
      @media (max-width:772px) {
         flex-flow: row wrap;
      }
   }

   // .about__item

   &__item {
      flex: 1 1 auto;
      padding-left: 123px;

      @media (max-width:1185px) {
         padding-left: 60px;
      }
      @media (max-width:1088px) {
         padding-left: 40px;
      }
      @media (max-width:772px) {
         padding-left: 0;
      }
   }

   // .about__picture

   &__picture {
      flex: 0 0 569px;
      margin-left: -70px;
      img {
         max-width: 100%;
      }
      @media (max-width:1088px) {
         margin-left: -40px;
         flex: 0 0 400px;
      }
      @media (max-width:884px) {
         margin-left: -30px;
         flex: 0 0 350px;
      }
      @media (max-width:772px) {
         margin: 0 auto;
         flex: 1 1 auto;
         max-width: 350px;
      }
   }

   // .about__title

   &__title {
      margin-left: 43px;
      @media (max-width:772px) {
         margin: 30px auto 0 auto;
      }
   }

   // .about__text

   &__text {
      margin-top: 30px;
      line-height: 140%;
      p {
         padding: 18px 0;
      }
   }

   // .about__span

   &__span {
      color: #214ADF;
   }
}

