.form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   color: $grey;
   padding: 39px 18px;
   max-width: 370px;
   // .form__text

   &__text {
      margin-bottom: 34px;
      text-align: center;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
   }

   // .form__input
   &__wrapper {
      text-align: center;
   }

   &__input {
      font-family: 'Montserrat',serif;
      padding-left: 58px;
      border: 1px solid #CCCCCC;
      border-radius: 3px;
      height: 51px;
      max-width: 276px;
      width: 100%;
      margin: 17px auto;
      &_name {
         background: url(../img/main/person.svg) 20px center no-repeat;
      }
      &_number {
         background: url(../img/main/localPhone.svg) 20px center no-repeat;
      }
      &_mail {
         background: url(../img/main/mail.svg) 20px center no-repeat;
      }
      //&::placeholder {
      //   padding-left: 58px;
      //}
   }

   // .form__checkbox

   &__check {
      display: flex;
      max-width: 268px;
      width: 100%;
      margin: 0 auto;
   }

   &__checkbox {
   }

   // .form__check-descr

   &__check-descr {
      padding-left: 10px;
      font-weight: normal;
      font-size: 14px;
      line-height: 130%;
   }

   // .form__check-link

   &__check-link {
      color: #214ADF;
      text-decoration: underline;
   }

   // .form__btn

   &__btn {
      //display: flex;
      //justify-content: center;
      align-items: center;
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      background: linear-gradient(192.58deg, #FC3636 -1.64%, #C73737 90.88%);
      border-radius: 5px;
      padding: 14px 30px;
      color: #fff;
      margin-top: 46px;
   }
}

.title {
   font-weight: 500;
   font-size: 30px;
   color: #1F2E54;
   position: relative;
   max-width: max-content;
   text-align: center;
   margin: 0 auto;

   @media (max-width: 450px) {
      font-size: 23px;
   }
   &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: -43px;
      border: 1px solid #214ADF;
      border-right: none;
      border-bottom: none;
      border-top-left-radius: 5px;
      width: 27px;
      height: 25px;
      @media (max-width: 450px) {
         display: none;
      }
   }
   &::after {
      position: absolute;
      content: '';
      top: 50%;
      right: -43px;
      border: 1px solid #214ADF;
      border-left: none;
      border-bottom: none;
      border-top-right-radius: 5px;
      width: 27px;
      height: 25px;
      @media (max-width: 450px) {
         display: none;
      }
   }
}

