.catalog {
   padding: 100px 0px 0px 0px;

   @media (max-width: 819 + px) {
      padding: 0;
   }
   // .catalog__container

   &__container {
   }

   // .catalog__items

   &__items {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      @media (max-width: 1209 + px) {
         justify-content: space-around;
      }
   }

   // .catalog__item
   &__wrapper {
      flex: 0 0 370px;
      margin: 10px;
      @media (max-width: 425 + px) {
         flex: 0 0 310px;
      }
   }

   &__item {
      flex: 0 0 370px;
      margin-top: 30px;
      width: 100%;
      height: 290px;
      z-index: 4;
      transition-duration: 1s;
      &:hover {
         height: 453px;
      }
      &_fix {
         height: 290px;
         &:hover {
            height: 290px;
         }
      }
   }

   // .catalog__title

   &__title {
      display: flex;
      align-items: center;
      margin: 0 auto;
      justify-content: center;
      height: 290px;
   }

   // .catalog__picture

   &__picture {
      display: flex;
      align-items: center;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      font-weight: bold;
      font-size: 17px;
      line-height: 116%;
      text-align: center;
      height: 290px;
      color: #FFFFFF;
      transition-duration: 0.8s;
      z-index: 2;
      position: relative;

      &::before {
         position: absolute;
         content: '';
         bottom: 0;
         left: 0;
         right: 0;
         margin: 0 auto;
         width: 31px;
         border-left: 15.5px solid transparent;
         border-right: 15.5px solid transparent;
         border-bottom: 31px solid #fff;
         z-index: 2;
         opacity: 0;
         transition-duration: 0.3s;
      }
      &::after {
         position: absolute;
         content: '';
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: linear-gradient(145.34deg, rgba(44, 79, 202, 0.344) -25.47%, rgba(52, 92, 232, 0.7) 63.53%);
         opacity: 0;
         transition-duration: 0.3s;
      }
      //overflow: hidden;
      &_1 {
         background-image: url(../img/catalog/background_1.jpg);
      }
      &_2 {
         background-image: url(../img/catalog/background_2.jpg);
      }
      &_3 {
         background-image: url(../img/catalog/background_3.jpg);
      }
      &_4 {
         background-image: url(../img/catalog/background_4.jpg);
      }
      &_5 {
         background-image: url(../img/catalog/background_5.jpg);
      }
      &_6 {
         background-image: url(../img/catalog/background_6.jpg);
      }
      &_7 {
         background-image: url(../img/catalog/background_7.jpg);
      }
      &_8 {
         background-image: url(../img/catalog/background_8.jpg);
      }
      &_9 {
         background-image: url(../img/catalog/background_9.jpg);
      }
      &_10 {
         background-image: url(../img/catalog/background_10.jpg);
      }
   }
   &__button {
      color: rgba(100, 109, 128, 1);
      line-height: 20px;
      padding: 27px 129px 26px 35px;
      position: relative;
      margin-top: 42px;
      &::before {
         position: absolute;
         content: '';
         top: 0;
         right: 0;
         background: url(../img/catalog/download.svg) right top no-repeat;
         width: 86px;
         height: 100%;
      }
      @media (max-width: 425 + px) {
         font-size: 12px;
      }
   }

   &__text {
      max-width: 290px;
      margin: 0 auto;
      z-index: 4;
   }

   // .catalog__descr

   &__descr {
      color: #243047;
      line-height: 150%;
      box-shadow: 0px 5px 15px rgba(45, 62, 124, 0.2);
      padding: 26px 41px 41px 26px;
      margin-top: -100%;
      opacity: 0;
      position: relative;
      transition-duration: 0.8s;
      background-color: #fff;
      z-index: -1;
   }
}
.catalog__item:hover .catalog__descr {
      margin: 0;
      opacity: 1;
}
.catalog__item:hover .catalog__picture {
   &::before {
      opacity: 1;
   }
   &::after {
      opacity: 1;
   }
}