* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: 'Exo 2', sans-serif;
  background: #0065c1; }

.container {
  max-width: 600px;
  margin: auto; }

.navbar img {
  width: 100%; }

.navbar {
  position: relative;
  z-index: 4; }
  .navbar img {
    width: 100%; }

.first-section {
  margin-top: -60px;
  position: relative;
  z-index: 3; }
  .first-section img {
    width: 100%; }

.blue-section {
  background: #0065c1;
  padding-top: 600px;
  margin-top: -60px;
  position: relative;
  z-index: 2; }
  .blue-section .blue-bottom {
    width: 100%;
    margin-bottom: -40px; }

.notification-head {
  background: #E4E4E4;
  border-radius: 10px 10px 0px 0px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.messenger {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px; }
  .messenger p {
    margin-bottom: 0px;
    text-transform: uppercase; }

.notification {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  width: calc(100% - 30px);
  margin: auto;
  box-shadow: 0px 3px 6px #444444;
  margin-bottom: 10px; }

.notification-main {
  height: 62px; }

.messenger p {
  margin-bottom: 0px;
  text-transform: uppercase;
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 0.2px; }

.notification-time {
  font-size: 12px;
  margin-right: 13px;
  margin-top: -4px; }

.notification-slider {
  margin-bottom: 10px !important; }
  .notification-slider .slick-dots {
    bottom: -10px; }
  .notification-slider .slick-dots li {
    width: 4px;
    height: 4px;
    margin-left: 2px;
    margin-right: 2px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid white; }
    .notification-slider .slick-dots li.slick-active {
      background: white; }

.href {
  width: 100px;
  height: 93px;
  box-shadow: 1px 1px 4px #969494;
  display: block;
  border-radius: 2px;
  color: white;
  text-decoration: none; }
  .href img {
    margin: auto;
    display: block;
    margin-top: 14px; }
  .href p {
    text-align: center;
    font-size: 12px;
    padding-top: 3px; }

.hrefwp {
  background: #4CAF50; }

.hreftg {
  background: #039BE5; }

.hrefs-wr {
  display: flex;
  justify-content: space-around; }

.hrefs {
  background: white;
  padding-top: 120px;
  margin-top: -29px;
  padding-bottom: 70px;
  position: relative;
  z-index: 1; }

.prefooter {
  background: #C392E8;
  height: 71px;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

footer {
  height: 150px; }

.bottom-arrow {
  position: absolute;
  bottom: -83px;
  right: 11px; }
